### import necessary libraries

In [1]:
import pandas as pd
from selenium import webdriver
import time
import requests

### Slelenium part

In [2]:
# store website
url = 'https://worldpopulationreview.com/countries/'
# webdriver path

driver = webdriver.Chrome(executable_path='C:\webdrivers\chromedriver.exe')
driver.get(url)

# maximization 
driver.maximize_window()
time.sleep(2)

# cross click
cross = driver.find_element_by_class_name('e2aMB9ds')
cross.click()
time.sleep(2)

C:\Users\MTEXH\AppData\Local\Temp/ipykernel_3756/7387394.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path='C:\webdrivers\chromedriver.exe')
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_3756/7387394.py:13: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  cross = driver.find_element_by_class_name('e2aMB9ds')

### Required data

In [3]:
# country name
country_name = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody/tr/td[2]")

# current population
curr_population = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody/tr/td[3]")

# population 2022
pop2022 = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody/tr/td[4]")

# Area (km)
area = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[5]")

# land Area
land = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[6]")

# Density 
density = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[7]")

# Growth Rate
growth_rate = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[8]")

# World percentage
world_percentage = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[9]")

# Rank
rank = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[10]")

C:\Users\MTEXH\AppData\Local\Temp/ipykernel_3756/1910873693.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  country_name = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody/tr/td[2]")
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_3756/1910873693.py:5: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  curr_population = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody/tr/td[3]")
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_3756/1910873693.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  pop2022 = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody/tr/td[4]")
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_3756/1910873693.py:11: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  area = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[5]")
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_3756/1910873693.py:14: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  land = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[6]")
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_3756/1910873693.py:17: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  density = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[7]")
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_3756/1910873693.py:20: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  growth_rate = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[8]")
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_3756/1910873693.py:23: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  world_percentage = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[9]")
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_3756/1910873693.py:26: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  rank = driver.find_elements_by_xpath("//div[@class='datatable-container']//tbody//tr//td[10]")

### Creating DataFrame

In [4]:
df = pd.DataFrame(columns=['country name','current population','population 2022','area','land area','density','growth rate','world percentage','rank'])

for A in range(len(country_name)):
    df = df.append({'country name':country_name[A].text,'current population':curr_population[A].text,
                   'population 2022':pop2022[A].text,'area':area[A].text,'land area':land[A].text,
                   'density':density[A].text,'growth rate':growth_rate[A].text,'world percentage':world_percentage[A].text,
                   'rank':rank[A].text},ignore_index =True)
df

,country name,current population,population 2022,area,land area,density,growth rate,world percentage,rank
0,India,"1,423,118,510","1,417,173,173",3.3M,3M,481,0.81%,17.85%,1
1,China,"1,425,820,141","1,425,887,337",9.7M,9.4M,151,-0.02%,17.81%,2
2,United States,"339,231,549","338,289,857",9.4M,9.1M,37,0.50%,4.25%,3
3,Indonesia,"276,576,867","275,501,339",1.9M,1.9M,148,0.74%,3.47%,4
4,Pakistan,"238,517,163","235,824,862",881.9K,770.9K,312,1.98%,3.00%,5
...,...,...,...,...,...,...,...,...,...
200,San Marino,"33,642","33,660",61,60,561,-0.05%,0.00%,218
201,Palau,"18,058","18,055",459,460,39,0.02%,0.00%,222
202,Nauru,"12,780","12,668",21,20,639,0.88%,0.00%,225
203,Tuvalu,"11,396","11,312",26,30,380,0.74%,0.00%,227
204,Vatican City,518,510,< 1,< 1,"1,177",1.57%,,234

### Save data to Excel

In [5]:
df = df.to_excel('world_population2023.xlsx')

#### Now check this file in your current repository.

In [6]:
print('the project completed successfully')

the project completed successfully